.fixed {
  background-color: black;
  color: white;
  font-size: smaller;
   height: 30px;
   margin-bottom: 5px;
}

.navi {
  height: 70px;
}

nav ul {
  margin-left: 270px;
  list-style: none;
}

nav ul li {
  margin-top: 8px;
  height: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 2px solid blue;
}

.slide {
  height: 400px;
  background-color: black;
}

.slide img {
  height: 100px;
  width: 100px;
}

.carousel-item {
  display: flex;
  flex-direction: column;
}

.carousel-control-prev {
  background: transparent;
  border: none;
}
.carousel-control-next {
  background: transparent;
  border: none;
}

.cen {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.first-slide {
    color: white;
}

.para {
  display: flex;
  height: 200px;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  font-size: large;
}

.card-body {
    padding: 0;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h5 {
    font-size: 25px;
    margin-left: 30px;
}

.ptext {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.658);
    color: white;
}

.card-width {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.about {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about p {
    padding-left: 100px;
    padding-right: 100px;
}

.work {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0.61);
    color: white;
}

.form-market {
    height: 650px;
    color: white;
    background-color: #383841;
}

.form-market input {
    margin-left: auto;
    margin-right: auto;
}

.form-market textarea {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    height: 150px;
    width: 100%;
}

.foot-center {
    align-items: center;
    justify-content: center;
}

.firstt {
    font-size: small;
}

.secondt {
    font-size: x-large;
}

.thirdt {
    font-size: x-large;
}

.last {
    font-size: small;
}